<header>
    <div class="navbar">
      <%= image_tag "logo.jpg", alt: "logo", width: 70 %>
      <div class="navbar-menu">
        <%= link_to "My lists", root_path %>
        <%= link_to "+ Add new list", new_list_path %>
      </div>
    </div>
    <div class="banner">
      <h1>Create your own movie watch lists</h1>
    </div>
</header>
