<div class="navbar">
  <%= image_tag "logo.jpg", alt: "logo", width: 70 %>
  <div class="navbar-menu">
    <%= link_to "My lists", root_path + "#list-card" %>
    <%= link_to "+ Add new list", new_list_path %>
  </div>
</div>
