// Specific CSS for your home-page
.home {
  width: 100%;
  height: auto;
  margin: 0;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), asset-url("home-background.jpg");
}

.list-cards {
  display: flex;
  flex-direction: row;
  margin-top: 700px;
  padding-bottom: 70px;
  padding-left: 0;
}

#list-card {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    asset-url('list-card.jpg');
  margin-left: 40px;
  background-size: cover;
  background-position: center;
  width: 200px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
