.navbar {
  justify-content: space-between;
  background: #030405;
  img {
    border-radius: 50%;
  }
}

.navbar-menu {
  a {
    margin-left: 20px;
    margin-right: 20px;
    font-weight: 500;
    font-size: 17px;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}
